# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python environment
*.egg-info/

# Logs
*.log

# Local datasets
creditcard.csv

# Secrets
.env
*.env

# Streamlit
.streamlit/secrets.toml
